<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ site_name }} | Sistema de Administración de Pozos</title>

    <link rel="stylesheet" href="{{ template_url }}/css/reset.css" type="text/css" media="screen">

    {{ head|raw }}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ template_url }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ template_url }}/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="{{ template_url }}/js/bootstrap.min.js"></script>

    <link href="{{ template_url }}/css/select2.css" rel="stylesheet"/>
    <link href="{{ template_url }}/css/select2-bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ template_url }}/js/select1.js"></script>
    <script type="text/javascript" src="{{ template_url }}/js/select2.js"></script>
    <script type="text/javascript" src="{{ template_url }}/js/select2_locale_es.js"></script>

    <link rel="stylesheet" href="{{ template_url }}/stylesheet.css" type="text/css" media="screen">

    <script type="text/javascript">
        $(document).ready(function () {
            $("select:not(.select1, .select-default)").select2({
                theme: "bootstrap",
                language: "es"
            });
            $("select.select1").select1();
            $(document).tooltip({selector: '[data-toggle="tooltip"]', container: 'body'});
        });
    </script>

</head>

<body>
<div id="wrapcontent">
{{ body|raw }}