{% include 'header.twig' %}
<div id="login-content">
    <div class="panel panel-default resetpassContainer">
        <div class="panel-body">
            <form method="post">

                <h1 class="page-header"><i class="icon fa fa-refresh"></i> Restablecer Contrase&ntilde;a</h1>

                <p>Introduzca a continuación el correo electr&oacute;nico con que registro su cuenta y le enviaremos los pasos a seguir para restablecer su contrase&ntilde;a:</p>

                <div class="form-group">

                    <input type="text" name="correo" class="form-control" id="correo" placeholder="Correo Electrónico">

                </div>

                <div class="form-group">
                    <div class="captcha-container">
                        <img id="siimage"
                             src="{{ site_url }}includes/captcha.php?size=lg&sid={{ rand_id }}"
                             alt="Imagen CAPTCHA" class="img-responsive thumbnail"/>
                        <a class="captcha_refresh" tabindex="-1" style="border-style: none; outline: none;" href="#"
                           title="Refrescar Codigo"
                           onclick="document.getElementById('siimage').src = '{{ site_url }}includes/captcha.php?size=lg&sid=' + Math.random(); this.blur(); return false">
                            <img src="{{ template_url }}/images/refresh_captcha.png" alt="Refrescar Codigo"
                                 onclick="this.blur()" border="0"/>
                        </a>

                    </div>
                </div>
                <div class="form-group">
                    <p class="captcha-text">Ingrese el c&oacute;digo de seguridad de la imagen superior:</p>
                    <input type="text" name="ct_captcha" class="form-control" placeholder="Código de Seguridad">

                </div>

                <div class="form-group">

                    <button type="submit" name="act-reset-password" class="btn btn-default btn-block"
                           id="act-reset-password"><i class="glyphicon glyphicon-share"></i> Continuar</button>
                </div>
                <a href="{{ site_url }}login.php"><i class="icon fa fa-arrow-left"></i> Regresar al Inicio de Sesi&oacute;n</a>

            </form>
        </div>

    </div>

    {% include 'footer.twig' %}
</div>