<h3>Datos al Arranque</h3>
<div class="form-group">

    <div class="col-sm-4">
    <label for="caudal_bomba_instalada" class="control-label">Caudal de Arranque (l/s)</label>
        <input type="text" name="caudal_bomba_instalada" class="form-control" value="{{ datos_arranque.caudal_bomba_instalada }}"
               id="caudal_bomba_instalada"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4">
    <label for="VA_VL1_bomba_instalada" class="control-label">Voltaje Apagado V L1</label>
        <input type="text" name="VA_VL1_bomba_instalada" class="form-control" value="{{ datos_arranque.VA_VL1_bomba_instalada }}"
               id="VA_VL1_bomba_instalada"/>
    </div>

    <div class="col-sm-4">
    <label for="VA_VL2_bomba_instalada" class="control-label">Voltaje Apagado V L2</label>
        <input type="text" name="VA_VL2_bomba_instalada" class="form-control" value="{{ datos_arranque.VA_VL2_bomba_instalada }}"
               id="VA_VL2_bomba_instalada"/>
    </div>

    <div class="col-sm-4">
    <label for="VA_VL3_bomba_instalada" class="control-label">Voltaje Apagado V L3</label>
        <input type="text" name="VA_VL3_bomba_instalada" class="form-control" value="{{ datos_arranque.VA_VL3_bomba_instalada }}"
               id="VA_VL3_bomba_instalada"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
    <label for="VE_VBF1_bomba_instalada" class="control-label">Voltaje Encendido VBF1</label>
        <input type="text" name="VE_VBF1_bomba_instalada" class="form-control" value="{{ datos_arranque.VE_VBF1_bomba_instalada }}"
               id="VE_VBF1_bomba_instalada"/>
    </div>
    <div class="col-sm-4">
    <label for="VE_VBF2_bomba_instalada" class="control-label">Voltaje Encendido VBF2</label>
        <input type="text" name="VE_VBF2_bomba_instalada" class="form-control" value="{{ datos_arranque.VE_VBF2_bomba_instalada }}"
               id="VE_VBF2_bomba_instalada"/>
    </div>
    <div class="col-sm-4">
    <label for="VE_VBF3_bomba_instalada" class="control-label">Voltaje Encendido VBF3</label>
        <input type="text" name="VE_VBF3_bomba_instalada" class="form-control" value="{{ datos_arranque.VE_VBF3_bomba_instalada }}"
               id="VE_VBF3_bomba_instalada"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
    <label for="consumo_L1_bomba_instalada" class="control-label">Consumo L1 (Amp)</label>

        <input type="text" name="consumo_L1_bomba_instalada" class="form-control" value="{{ datos_arranque.consumo_L1_bomba_instalada }}"
               id="consumo_L1_bomba_instalada"/>
    </div>

    <div class="col-sm-4">
    <label for="consumo_L2_bomba_instalada" class="control-label">Consumo L2 (Amp)</label>
        <input type="text" name="consumo_L2_bomba_instalada" class="form-control" value="{{ datos_arranque.consumo_L2_bomba_instalada }}"
               id="consumo_L2_bomba_instalada"/>
</div>

    <div class="col-sm-4">
    <label for="consumo_L3_bomba_instalada" class="ontrol-label">Consumo L3 (Amp)</label>
        <input type="text" name="consumo_L3_bomba_instalada" class="form-control" value="{{ datos_arranque.consumo_L3_bomba_instalada }}"
               id="consumo_L3_bomba_instalada"/>
    </div>
</div>
